@page
@{
	ViewData["Title"] = "CRUD";
}
<h1>About</h1>
<hr />
<p>this CRUD application made by Razor Pages and genirec repository.<br />
	simple, clean, fast and connected to SQL Server using EF Core.</p>